{% if page.comments %}
<div id="giscus-comments" class="page__comments">
  <script src="https://giscus.app/client.js"
          data-repo="{{ site.comments.giscus.repo }}"
          data-repo-id="{{ site.comments.giscus.repo_id }}"
          data-category="{{ site.comments.giscus.category }}"
          data-category-id="{{ site.comments.giscus.category_id }}"
          data-mapping="{{ site.comments.giscus.mapping }}"
          data-reactions-enabled="{{ site.comments.giscus.reactions_enabled }}"
          data-emit-metadata="0"
          data-theme="{{ site.comments.giscus.theme }}"
          data-lang="{{ site.comments.giscus.lang }}"
          crossorigin="anonymous"
          async>
  </script>
  <noscript>Activa JavaScript para ver los comentarios de Giscus.</noscript>
</div>
{% endif %}
