<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">
        <a href="{{ site.baseurl }}/" style="color: white; text-decoration: none;">
          {{ site.title | default: "Mi Blog Técnico" }}
        </a>
      </h1>
      <h2 class="project-tagline">{{ site.description | default: "Blog sobre IT, administración de sistemas y monitorización." }}</h2>
      
      <nav class="main-navigation">
        <ul>
          <a href="{{ site.baseurl }}/" style="color: #FFFFFF;">Inicio</a>
          <a href="{{ site.baseurl }}/blog" style="color: #FFFFFF;">Posts</a>
          <a href="{{ site.baseurl }}/contacto" style="color: #FFFFFF;">Contacto</a>
        </ul>
      </nav>
      <!-- hitwebcounter Code START -->
      <a href="https://www.hitwebcounter.com" target="_blank">
      <img src="https://hitwebcounter.com/counter/counter.php?page=19067299&style=0025&nbdigits=5&type=page&initCount=0" title="Counter Widget" Alt="Visit counter For Websites"   border="0" /></a>       
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <p>© 2021 - Creado por Sergio Ibáñez</p>
        <div class="social-links">
          <a href="https://github.com/sergioib94" target="_blank">🔗 GitHub</a>
          <a href="https://www.linkedin.com/in/sergio-ibañez-nuñez/" target="_blank">💼 LinkedIn</a>
        </div>
      </footer>
    </main>
  </body>
</html>